.hi{
    content: "";
position: absolute;
inset: -.625em;
background: linear-gradient(to bottom right, 
#ff00cc, #333399 , #1FA2FF);
filter: blur(2.5em);
/* border-radius: 0%; */
z-index: -1;
    height: 1000px;
    width: 500px;
    
}
