@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Poppins' , 'sans-serif';
}

.circle{
    border-radius: 5px;
    width:50px;
    height:50px;
}
.icon{
    width:50px;
    height:50px;    
}
[role=link].contrast, a.contrast{
    color: white;
    font-family: 'Poppins' , 'sans-serif';
}

.p{
    
    margin-bottom: 0px;
    font-family: 'Poppins' , 'sans-serif';
}
.center{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.text1{
    font-size: 80px;
}

.yellow{
    /* background: -webkit-linear-gradient(#ff00cc, #333399 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background: linear-gradient(298deg, #ff00cc, #333399 , #1FA2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #fff;
}
.gradient{
    content: "";
    position: absolute;
    inset: -.625em;
    background: linear-gradient(to bottom right, 
    #ff00cc, #333399 , #1FA2FF);
    filter: blur(2.5em);
    border-radius: 50%;
    z-index: -1;
}
.shadow{
    text-shadow: 2px 2px 40px rgb(0, 0, 0);
}
.auto-type{
    text-shadow: 2px 2px 20px #333;
}
.up{
    position: relative;
    bottom: 150px;
}
.social{
    width: 25px;
    height: 25px;     
    margin-left: 100px;
    
}
.socials{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    right: 50px;
    
    

}

a {
    all: initial;
}
a:hover{
    cursor: pointer;
    
}
blockquote{
    border-left: 0.25rem solid var(--blockquote-border-color);
    -webkit-border-start: 0.25rem solid var(--blockquote-border-color);
    border-inline-start: 0.25rem solid rgb(73, 73, 218);
    -webkit-border-end: none;
    border-inline-end: none;
    word-spacing: 3px;
    letter-spacing: 1px;
}


.title{
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
     /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul li{
      list-style: none;
  }
  li img{
      width: 30px;
      height: 30px;
  }


